<title>work god damn it</title>


<html>
   <body>
      <form action = "{{ url_for('submit') }}" method = 'POST'>
         <p>title <input type = "text" name = "title" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>